@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat',sans-serif;
  letter-spacing: .8px;
}

label {
  font-size: 15px;
}

.card{
  border-radius: 20px;
  border-color: #efefef;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.15);
}

.form-control-custom{
  height:50px;
  width:100%!important;
  border-radius: 10px!important;
  border: 1px solid #efefef;
  box-shadow: 0px 2px .5px rgba(0, 0, 0, 0.15);
}

.form-control-custom:focus{
  outline: none;
}

.br-0{
  border-radius: 0;
}

.br-2{
  border-radius: 4px;
}

a:hover{
  text-decoration: none;
}

.spinner-border{
  border-width: .1em;
}

.spinner-border.small{
  width: 1.5rem;
  height: 1.5rem;
}

.list-group-item:first-child{
  background-color: #f4f4f4;
}
